<% if flash[:notice] %>
<div id='errorExplanation'>
<%= flash[:notice] %>
</div>
<% end %>

<%= form_tag :action=>'authenticate' %>
<table class='block-box' style='padding: 25px; margin: auto;'>
<tr><td COLSPAN=2 style='text-align: right; font-size: 10px;'>
<%= link_to "New user?", "/users/new"%> | <%= link_to "Forgot password?", "/users/recover"%></td></tr>
<tr><td>User name:</td>
<td><%= text_field("userform", "login",:size=>"20" ) %></td></tr>
<tr><td>Password:</td>
<td><%= password_field("userform", "password",:size=>"20" )%> </td></tr>
<tr><td COLSPAN=2 style='text-align: right;'><input type="submit" value=" LOGIN " /></td></tr>
</table>
