<%= debug(@user) %>

<% #form_for @user, :url => { :action => "create" }  do |f| %>
<% form_for(@user) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>

  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, {:value => ''} %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

      <%= submit_tag 'Create' %>
<% end %>
