<table class='block-box' style='padding: 25px; margin: auto;'>
<tr><td COLSPAN=2 style='font-size: 18px; padding-bottom: 10px;'>
<%= image_tag '/images/icons/32x32/user_add.png', :style => "vertical-align:middle" %> New user</td></tr>

<%= form_for(@user) do |f| %>
<%= f.error_messages %>
  <tr><td>
    <%= f.label :login %>
  </td><td>
    <%= f.text_field :login %>
  </td></tr>

  <tr><td>
    <%= f.label :password %>
  </td><td>
    <%= f.password_field :password, {:value => ''} %>
  </td></tr>

  <tr><td>
    <%= f.label :name %>
  </td><td>
    <%= f.text_field :name %>
  </td></tr>

  <tr><td>
    <%= f.label :email %>
  </td><td>
    <%= f.text_field :email %>
  </td></tr>

  <tr><td COLSPAN=2 style='height: 20px;'></td></tr>

  <%= show_simple_captcha(:object => "user", :image_style => 'almost_invisible')%>

  <tr><td COLSPAN=2 style='text-align: right;'>
    <%= f.submit "Create" %>
  </td></tr>

<% end %>

</table>
