<table class='block-box' style='padding: 25px; margin: auto;'>
<tr><td COLSPAN=2 style='font-size: 18px; padding-bottom: 10px;'>
<%= image_tag '/images/icons/32x32/user_add.png', :style => "vertical-align:middle" %> New user</td></tr>

<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>  
  <div id="errorExplanation">  
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>  
    <ul>  
    <% @user.errors.full_messages.each do |msg| %>  
      <li><%= msg %></li>  
    <% end %>  
    </ul>  
  </div>  
  <% end %>  

  <tr><td>
    <%= raw f.label :username %>
  </td> <td>
    <%= raw f.text_field :username %>
  </td></tr>

  <tr><td>
    <%= raw f.label :password %>
  </td><td>
    <%= raw f.password_field :password, {:value => ''} %>
  </td></tr>

  <tr><td>
    <%= raw f.label :password %> (again)
  </td><td>
    <%= raw f.password_field :password_confirmation, {:value => ''} %>
  </td></tr>

  <tr><td>
    <%= raw f.label :name %>
  </td><td>
    <%= raw f.text_field :name %>
  </td></tr>

  <tr><td>
    <%= raw f.label :email %>
  </td><td>
    <%= raw f.text_field :email %>
  </td></tr>

  <tr><td COLSPAN=2 style='height: 20px;'>

  <%= show_simple_captcha(:object => "user", :image_style => 'almost_invisible')%>

  </td> </tr>

  <tr><td COLSPAN=2 style='text-align: right;'>
    <%= f.submit "Create" %>
  </td></tr>

<% end %>

</table>
