
<table style='width: 98%;'  class='block-box'>
<tr>
<td style='text-align: center; padding: 10px; width:30%; vertical-align: top;'>
<%= image_tag "http://www.gravatar.com/avatar/#{@email_hash}" %><br/>
<%= @user.name %>
</td>

<td style='width: 70%; vertical-align: top;'>
<table style='width:100%;'>
<tr><td style='width: 25%;'><b>Username:</b></td><td><%= @user.username %></td></tr>
<tr><td style='width: 25%;'><b>Role:</b></td><td><%= decode_user_role(@user.role) %></td></tr>
<tr><td style='width: 25%;'><b>Member Since:</b></td><td><%= Date::MONTHNAMES[@user.created_at.month] %>, <%= @user.created_at.year%></td></tr>
</table>
</td>
</tr>
</table>

<% # This box only shows up if logged in user == profile viewed %>
<% if @user.username == session[:user_login] %>
<table style='width: 98%;'  class='block-box'>
<tr>
<td style='width:34px; font-size: 10px; line-height: 12px; text-align: center;'><%= image_tag "/images/icons/32x32/application_add.png", :style => 'text-decoration:none;'%><br/>
<a href='/softwares/new'>Submit<br/>Application</a><br/>
<td style='width:34px; font-size: 10px; line-height: 12px; text-align: center;'><%= image_tag "/images/icons/32x32/user_edit.png"%><br/>
<a href='/users/edit/<%=h @user.username %>'>Edit user<br/>information</a><br/>
</td>
<td style='width:34px; font-size: 10px; line-height: 12px; text-align: center;'><%= image_tag "/images/icons/32x32/tags_cloud.png"%><br/>My Tag<br/>Cloud</td>
</tr>
</table>
<% end %>

<%= debug(@user) %>
