<% if @software != nil %>
<h3><%= @software.title %></h3>
<div class='description'>by <%= @software.author %> </div>

<%= image_tag "/images/blank_screenshot.png", :id => 'softwareShot' %>

<table id='softwareDetails'>
<tr>
<td style='width: 25%;'><%= image_tag '/images/icons/16x16/calendar_add.png', :style => 'vertical-align:middle;' %> Added </td>
<td><%= @software.created %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/script.png', :style => 'vertical-align:middle;' %> License </td>
<td><%= @software.license %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/arrow_divide.png', :style => 'vertical-align:middle;' %> Compiled </td>
<td><%= image_tag "/images/icons/icon_#{@software.compiled.downcase}.png" , :style => 'vertical-align: top;' %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/page.png', :style => 'vertical-align:middle;' %> Description </td>
<td><%= @software.description %></td>
</tr>
</table>

<%= debug(@software) %>
<% else %>
        <div class='alert'>
                        No items found with this name
        </div>
<% end %>
