<% if @software != nil %>
<h3><%= @software.title %></h3>
<div class='description'>version <%= @software.version %> </div>

<div class='block-box'>

<%= image_tag "/images/blank_screenshot.png", :id => 'softwareShot' %>

<table id='softwareDetails'>
<tr>
<td style='width: 90px;'><%= image_tag '/images/icons/16x16/vcard.png', :style => 'vertical-align:middle;' %> Author </td>
<td><%= @software.author %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/calendar_add.png', :style => 'vertical-align:middle;' %> Added </td>
<td><%= @software.created %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/text_signature.png', :style => 'vertical-align:middle;' %> License </td>
<td><%= @software.license %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/arrow_divide.png', :style => 'vertical-align:middle;' %> Compiled </td>
<td><%= image_tag "/images/icons/icon_#{@software.compiled.downcase}.png" , :style => 'vertical-align: top;' %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/page.png', :style => 'vertical-align:middle;' %> Description </td>
<td><%= @software.description %></td>
</tr>
</table>
</div>

<%= debug(@software) %>
<% else %>
        <div class='alert'>
                        No items found with this name
        </div>
<% end %>
