<% if @software != nil %>
<h3><%= @software.title %></h3>
<div class='description'>Added: <%= "#{Date::ABBR_MONTHNAMES[@software.created.month]} #{@software.created.day}, #{@software.created.year}" %>
<span style='float: right'>Actions:
<% if pull_user_role(session[:user_id]) == 0 || @software.creator == session[:user_id] %>
<%= image_tag '/images/icons/16x16/application_form_edit.png', :style => 'vertical-align:middle;', :alt => 'Edit application' %>
<%= image_tag '/images/icons/16x16/disk_multiple.png', :style => 'vertical-align:middle;', :alt => 'Edit downloads' %>
<%= image_tag '/images/icons/16x16/photos.png', :style => 'vertical-align:middle;', :alt => 'Edit screenshots' %>
<% else %>
<a href='#'><%= image_tag '/images/icons/16x16/flag_red.png', :style => 'vertical-align:middle; border:0px;', :alt => 'Flag as inappropriate' %></a>
<% end %>
</span></div>

<div class='block-box'>

<%= image_tag "/images/blank_screenshot.png", :id => 'softwareShot' %>

<table id='softwareDetails'>
<tr>
<td style='width: 90px;'><%= image_tag '/images/icons/16x16/vcard.png', :style => 'vertical-align:middle;' %> Author </td>
<td><%= @software.author %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/cake.png', :style => 'vertical-align:middle;' %> Version </td>
<td><%= @software.version %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/text_signature.png', :style => 'vertical-align:middle;' %> License </td>
<td><%= @software.license %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/arrow_divide.png', :style => 'vertical-align:middle;' %> Compiled </td>
<td><%= image_tag "/images/icons/icon_#{@software.compiled.downcase}.png" , :style => 'vertical-align: top;' %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/page.png', :style => 'vertical-align:middle;' %> Description </td>
<td><%= format_text @software.description %></td>
</tr>
</table>
</div>

<% #debug(@software) %>
<% else %>
        <div class='alert'>
                        No items found with this name
        </div>
<% end %>
