<% if @software != nil %>
<h3><%= @software.title %></h3>
<div class='description'>Added: <%= "#{Date::ABBR_MONTHNAMES[@software.created.month]} #{@software.created.day}, #{@software.created.year}" %>
<span style='float: right'>Actions:
<% if pull_user_role(session[:user_id]) == 0 || @software.creator == session[:user_id] %>
<%= link_to image_tag('/images/icons/16x16/application_form_edit.png', :style => 'vertical-align:middle; border:0px;', :alt => 'Edit application'), :controller => 'softwares', :action => 'edit', :id => @software.title %>
<% else %>
<a href='#'><%= image_tag '/images/icons/16x16/flag_red.png', :style => 'vertical-align:middle; border:0px;', :alt => 'Flag as inappropriate' %></a>
<% end %>
</span></div>

<div class='block-box'>

<table id='softwareIntro' style='width:100%; margin-left: auto; margin-right: auto;'>
<tr><td style='border-right: 1px solid #567EBB ; padding-top: 4%; width: 150px;'>
<center>
<%= image_tag(@software.icon.url(:icon), :id => 'softwareIcon', :style => 'vertical-align:middle;') %><br/>
<%= @software.title %><br/>
version <%= @software.version %>
</center>
</td><td>
<center>
<%= link_to( image_tag(@software.screenshot.url(:shot_sm), :id => 'softwareShot'), @software.screenshot.url,  :target => "_blank") %>
</center>
</td></tr>
</table>

<table id='softwareDetails'>
<tr>
<td style='width: 90px;'><%= image_tag '/images/icons/16x16/user_green.png', :style => 'vertical-align:middle;' %> Author </td>
<td><%= @software.author %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/link_go.png', :style => 'vertical-align:middle;' %> Website </td>
<td><%= link_to @software.website %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/cake.png', :style => 'vertical-align:middle;' %> Version </td>
<td><%= @software.version %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/copying_and_distribution.png', :style => 'vertical-align:middle;' %> License </td>
<td><%= @software.license %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/arrow_divide.png', :style => 'vertical-align:middle;' %> Compiled </td>
<td><%= image_tag "/images/icons/icon_#{@software.compiled.downcase}.png" , :style => 'vertical-align: top;' %></td>
</tr>
<tr>
<td><%= image_tag '/images/icons/16x16/page.png', :style => 'vertical-align:middle;' %> Description </td>
<td><%= format_text @software.description %></td>
</tr>
</table>
</div>

<% else %>
        <div class='alert'>
                        No items found with this name
        </div>
<% end %>

