<h3><%=h @category.name %></h3>
<div class='description'><%= @category.description %></div>

<% if @softwares.count == 0 %>

	<div class='alert'>
			No items found in this <%= controller_name %>
	</div>

<% else %>

	<% @softwares.each do |software| %>
	        <table class='item'>
	                <tr>
	                <th> <%= image_tag software.icon.url(:icon) %> </th>
	                <td> <span style='border-bottom: 1px solid #567EBB;'>
			<%= link_to software.title, :controller => "softwares", :action => "show", :id => software.title %>
			<span style='font-size: 0.8em;'> by <%= sanitize(software.author) %></span> </span>
	                <div class='detail'><%= truncate(sanitize(software.description), :length => 90, :omission => '...') %></div> </td>
	                </tr>
	        </table>
	
	<% end %>
	<%= will_paginate @softwares %>

<% end %>
