<!doctype html>
<html>
<head>
	<title>HaikuFire: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'site' %>
	<%= stylesheet_link_tag 'lightbox' %>
	<link rel="shortcut icon" href="/favicon.png" />
        
        <script src="/javascripts/prototype.js" type="text/javascript"></script>
        <script src="/javascripts/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
        <script src="/javascripts/lightbox.js" type="text/javascript"></script>

	<% if controller_name == "news" %>
        <script src="/javascripts/slideshow.js" type="text/javascript"></script>

	<script type="text/javascript"> 
		new SlideShow('introSlideshow');
	</script>
	<% end %>

</head>
<body>
	<header>
		<%= image_tag "/images/toplogo.png" %>
		<div style='float: right;'>
		<% if !session[:user_id] %>
		Welcome Anonymous user! | <%= link_to "Login", :login %>
		<% else %>
		Welcome back <%= link_to session[:user_login], "/users/profile/#{session[:user_login]}"%> | <%= link_to "Logout", :logout %>
		<% end %>
		</div>
		
	</header>
	<nav>
		<ul> 
			<li <%= "class='selected'" if controller_name=="news" %>><a href="/news">News</a></li> 
			<li <%= "class='selected'" if controller_name=="categories" || controller_name=="softwares" %>><a href="/categories">Software</a></li> 
			<li <%= "class='selected'" if controller_name=="about" %>><a href="/about">About</a></li> 
		</ul> 
	</nav>

	<% if controller_name == "news" %>
	<section id="intro">
	<ul id="introSlideshow"> 
		<li><img src="/images/intro_1.png" alt="HaikuFire" /></li> 
		<li><img src="/images/intro_2.png" alt="HaikuFire" /></li> 
		<li><img src="/images/intro_3.png" alt="HaikuFire" /></li> 
		<li><img src="/images/intro_4.png" alt="HaikuFire" /></li> 
	</ul> 
	</section>
	<% end %>

	<div id="content"> 
		<div id="mainContent"> 
	<section>
		<% if flash[:warning] %>
		<div id='errorExplanation'>
		<%= flash[:warning] %>
		</div>
		<% end %>

		<% if flash[:info] %>
		<div id='infoExplanation'>
		<%= flash[:info] %>
		</div>
		<% end %>

		<% if @debugger %>
		<pre>
		<%= @debugger %>
		</pre>
		<% end %>

		<!-- Main content area -->
		<%= yield %>
	</section>
		</div>

	<aside>
		<div id='sideblock' class='block-box'>
		<%= image_tag "/images/icons/32x32/money_add.png" %>
		<a href='http://www.haiku-inc.org/donations.html' target='_blank'>Donate to the Haiku project</a>
		</div>

		<div id='sideblock' class='block-box'>
		<%= image_tag "/images/icons/32x32/time_add.png" %> Recent software updates</br>
		<ul>
		<% $softwares = pull_recent_software() %>
		<% $softwares.each do |software|%>
			<li><%= link_to software.title, software %> <span style='font-size: 10px;'>
			<%= "#{Date::ABBR_MONTHNAMES[software.updated.month]} #{software.updated.day}" %></li>
		<% end %>
		</ul>
		</div>
		
		<!-- Sidebar -->
	</aside>

	</div>

	<footer>
		<div><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/80x15.png" /></a>&nbsp;<a href="http://rubyonrails.org" target="_BLANK"><img src="/images/rails_powered.png" border=0></a>&nbsp;<a href="http://www.cherokee-project.com" target="_BLANK"><img src="/images/cherokee_powered.png" border=0></a>&nbsp;<a href='http://www.postgresql.org' TARGET='_blank'><img src='/images/postgres_powered.gif' border=0></a>&nbsp;<a href="http://en.wikipedia.org/wiki/IPv6" target="_BLANK"><img src="/images/ipv6reachable.png" border=0></a><br/><span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">HaikuFire website</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://unixzen.com" property="cc:attributionName" rel="cc:attributionURL">Alexander von Gluck</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License</a>.</div>
	</footer>

</body>
</html>
